.fc-button {
  font-size: 16px !important;
  padding: 10px 20px !important;
}
.fc-list {
  width: 100% !important; /* או ערך מקסימלי אחר כמו 800px */
  max-width: 800px !important;
  margin: 0 auto !important; /* למרכז את התצוגה */
}


@media (max-width: 768px) {
  .fc-button {
    font-size: 5px !important;
    padding: 8px 16px !important;
  }
}

@media (max-width: 480px) {
  .fc-button {
    font-size: 5px !important;
    padding: 6px 12px !important;
  }
}
